<!-- ============================================
     BULLET POINTS COMPONENT SNIPPETS
     Copy what you need into a screen or index.html
     Requires: tokens/tokens.css
               icons/icons.css + icons/icons.svg
               components/bullet-points/bullet-points.css

     Add as many <li class="bullet-point"> items as needed.
     The Figma documents 1–6 point variants.
     ============================================ -->


<!-- ============================================
     1 BULLET POINT
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>


<!-- ============================================
     2 BULLET POINTS
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>


<!-- ============================================
     3 BULLET POINTS
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>


<!-- ============================================
     4 BULLET POINTS
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>


<!-- ============================================
     5 BULLET POINTS
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>


<!-- ============================================
     6 BULLET POINTS
     ============================================ -->

<ul class="bullet-list">
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
  <li class="bullet-point">
    <span class="bullet-point__icon">
      <svg class="icon icon--md"><use href="../../icons/icons.svg#icon-tick"></use></svg>
    </span>
    <span class="bullet-point__text">Bullet point</span>
  </li>
</ul>
