<!-- ============================================
     ACCORDION COMPONENT SNIPPETS
     Copy what you need into a screen or index.html
     Requires: tokens/tokens.css
               icons/icons.css + icons/icons.svg
               components/accordion/accordion.css
     ============================================ -->


<!-- Default · Collapsed (mobile) -->
<details class="accordion">
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Content goes here</div>
  </div>
</details>


<!-- Default · Expanded (mobile) -->
<details class="accordion" open>
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Content goes here</div>
  </div>
</details>


<!-- Error · Collapsed (mobile) -->
<details class="accordion accordion--error">
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Information</div>
  </div>
</details>


<!-- Error · Expanded (mobile) -->
<details class="accordion accordion--error" open>
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Information</div>
  </div>
</details>


<!-- With icon · Collapsed (mobile) -->
<details class="accordion">
  <summary class="accordion__title">
    <span class="accordion__title-icon">
      <svg class="icon icon--md icon--primary"><use href="../../icons/icons.svg#icon-information"></use></svg>
    </span>
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Content goes here</div>
  </div>
</details>


<!-- Desktop · Collapsed -->
<details class="accordion accordion--desktop">
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Content goes here</div>
  </div>
</details>


<!-- Desktop · Expanded -->
<details class="accordion accordion--desktop" open>
  <summary class="accordion__title">
    <span class="accordion__title-text">Title</span>
    <span class="accordion__chevron accordion__chevron--down">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-down"></use></svg>
    </span>
    <span class="accordion__chevron accordion__chevron--up">
      <svg width="12" height="7"><use href="../../icons/icons.svg#icon-chevron-small-up"></use></svg>
    </span>
  </summary>
  <div class="accordion__content">
    <div class="accordion__body">Content goes here</div>
  </div>
</details>
